<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Work In Sync | Register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/img/icon.png" rel="icon">
    <link href="../static/img/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Angluar JS and Routing-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">

    <style>
        form i {
            cursor: pointer;
        }

        body {
            background-image: url('../static/img/bg2.png');
        }
    </style>


</head>

<body ng-app="">

    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <!-- End Logo -->

                            <div class="card mb-3">

                                <div class="row">

                                    <div class="col-lg-6 ">
                                        <div class="d-flex justify-content-center py-4">
                                            <a href="index" class="logo2 d-flex align-items-center w-auto">
                                                <img src="../static/img/logo.png" alt="">
                                            </a>
                                        </div>
                                        <img src="../static/img/register.png" style="width: 100%; overflow: hidden;">
                                    </div>

                                    <div class="col-lg-6 card-body">

                                        <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                            <p class="text-center small">Enter your personal details to create account
                                            <div ng-show="{{message3}}" class="text-danger text-center small">
                                                <i class="bi bi-exclamation-circle"></i> {{message3}}
                                            </div>
                                            </p>
                                        </div>

                                        <form class="row g-3" name="formname" style="padding-right: 15px;" method="post"
                                            action="/register">

                                            <div class="col-12">
                                                <label for="username" class="form-label">Username</label>

                                                <div class="input-group">

                                                    <input type="text" name="username" class="form-control"
                                                        ng-minlength="5" ng-model="username" autocomplete="off"
                                                        ng-pattern="/^[A-Za-z0-9]+$/" ng-required="true">
                                                    <span class="input-group-text"
                                                        id="inputGroupPrepend">@workinsync.com</span>
                                                </div>

                                                <span class="text-danger" ng-show="formname.username.$error.pattern"> <i
                                                        class="bi bi-exclamation-circle"></i> Username can have only
                                                    alphabets and
                                                    numbers.</span>
                                                <span class="text-danger"
                                                    ng-show="formname.username.$touched && formname.username.$error.required"><i
                                                        class="bi bi-exclamation-circle"></i> Username is
                                                    required.</span>
                                            </div>

                                            <div class="col-12">
                                                <label for="password" class="form-label">Password</label>
                                                <div class="input-group">

                                                    <input class="form-control" name="password" id="password"
                                                        autocomplete="off" type="password" ng-model="password"
                                                        ng-required="true" ng-pattern="/^[A-Za-z0-9@$_]+$/"
                                                        ng-minlength="6">
                                                    <span class="input-group-text" id="inputGroupPrepend2"><i
                                                            class="bi bi-eye-slash" id="togglePassword"></i>
                                                    </span>
                                                </div>
                                                <span class="text-danger" ng-show="formname.password.$error.pattern"><i
                                                        class="bi bi-exclamation-circle"></i> Password can have
                                                    alphabets, digits and special characters - @,$,_.<br></span>
                                                <span class="text-danger"
                                                    ng-show="formname.password.$touched && formname.password.$error.required"><i
                                                        class="bi bi-exclamation-circle"></i> Password is
                                                    required.</span>
                                                <span class="text-danger"
                                                    ng-show="formname.password.$error.minlength"><i
                                                        class="bi bi-exclamation-circle"></i> Minimum 6 characters are
                                                    required.</span>
                                            </div>

                                            <div class="col-12">
                                                <label for="password1" class="form-label">Confirm Password</label>

                                                <div class="input-group">
                                                    <input class="form-control" name="password1" id="password1"
                                                        ng-model="password1" autocomplete="off" ng-required="true"
                                                        ng-pattern="/^[A-Za-z0-9@$_]+$/" ng-minlength="6"
                                                        type="password">
                                                    <span class="input-group-text" id="inputGroupPrepend1"><i
                                                            class="bi bi-eye-slash" id="togglePassword1"></i>
                                                    </span>
                                                </div>
                                                <span class="text-danger" ng-show="formname.password1.$error.pattern"><i
                                                        class="bi
                                                    bi-exclamation-circle"></i> Password can have alphabets, digits and
                                                    special characters - @,$,_.<br></span>
                                                <span class="text-danger"
                                                    ng-show="formname.password1.$touched && formname.password1.$error.required"><i
                                                        class="bi bi-exclamation-circle"></i> Password
                                                    is required.</span>
                                                <span class="text-danger"
                                                    ng-show="formname.password1.$error.minlength"><i
                                                        class="bi bi-exclamation-circle"></i> Minimum 6 characters are
                                                    required.</span>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="terms" type="checkbox"
                                                        value="" id="acceptTerms" required>
                                                    <label class="form-check-label" for="acceptTerms">I agree and accept
                                                        the <a href="#">terms and conditions</a></label>
                                                    <div class="invalid-feedback">You must agree before submitting.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100" type="submit">Create
                                                    Account</button>
                                            </div>
                                            <div class="col-12">
                                                <p class="small mb-0">Already have an account? <a href="/login">Log
                                                        in here.</a></p>
                                            </div>
                                        </form>



                                    </div>

                                    <script>
                                        const togglePassword = document.querySelector('#togglePassword');

                                        const password = document.querySelector('#password');

                                        togglePassword.addEventListener('click', () => {

                                            // Toggle the type attribute using
                                            // getAttribure() method
                                            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';

                                            password.setAttribute('type', type);

                                            // Toggle the eye and bi-eye icon
                                            //this.classList.toggle('bi-eye');
                                        });
                                    </script>

                                    <script>
                                        const togglePassword1 = document.querySelector('#togglePassword1');

                                        const password1 = document.querySelector('#password1');

                                        togglePassword1.addEventListener('click', () => {

                                            // Toggle the type attribute using
                                            // getAttribure() method
                                            const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';

                                            password1.setAttribute('type', type);

                                            // Toggle the eye and bi-eye icon
                                            //this.classList.toggle('bi-eye');
                                        });
                                    </script>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </section>

        </div>


    </main><!-- End #main -->

    <!-- Vendor JS Files -->
    <script src="../static/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/chart.js/chart.min.js"></script>
    <script src="../static/vendor/echarts/echarts.min.js"></script>
    <script src="../static/vendor/quill/quill.min.js"></script>
    <script src="../static/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../static/vendor/tinymce/tinymce.min.js"></script>
    <script src="../static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/js/main.js"></script>

</body>

</html>